<!DOCTYPE html>
<html>
    <head>
        <title>Hearts & Hands</title>

        <!-- {% include 'bootstrap.html' %} -->
        <link rel="stylesheet" href="{{ url_for('static', filename='https://raw.githubusercontent.com/DarthNecro95/HeartsHands/main/css/styles.css') }}">
        <style>
            #banner {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        </style>
        
    </head>
    {% include 'nav.html' %}
    <body>
        <div id="container" class="text-center">
            <!-- <h1 class="text-center mt-4 mb-4">Careers</h1> -->
            <img class="img-fluid" id="banner" src="https://raw.githubusercontent.com/DarthNecro95/HeartsHands/main/static/images/HeartsHandsBanner.jpg">
            <h2 class="text-center mt-2 mb-4">Hearts & Hands</h2>
            <img class="img-fluid" id="banner" src="static/images">
            <p class="lead">
                We are dedicated to bringing warmth and care to every child in need!
            <h2 class="text-center mt-2 mb-4">Job Openings</h2>
            <div> 
                <div class="slider active">
                    <div class="list">
                        <div class="item">
                            <img src="https://raw.githubusercontent.com/DarthNecro95/HeartsHands/main/static/images/Group_E.jpeg">
                            <p>Design</p>
                            <h2>Slider 01</h2>
                            <p>This is a set of random words for testing!!</p>
                        </div>
                    </div>

                    <div class="list">
                        <div class="item">
                            <img src="https://raw.githubusercontent.com/DarthNecro95/HeartsHands/main/static/images/Group_B.jpeg">
                            <p>Design</p>
                            <h2>Slider 02</h2>
                            <p>This is a set of random words for testing!!</p>
                        </div>
                    </div>

                    <div class="list">
                        <div class="item">
                            <img src="https://raw.githubusercontent.com/DarthNecro95/HeartsHands/main/static/images/Blankets_L.jpeg">
                            <p>Design</p>
                            <h2>Slider 03</h2>
                            <p>This is a set of random words for testing!!</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="text-center">
            <button class="btn btn-primary btn-lrg">Contact Us</button>
            </div>
        </div>
        {% include 'footer.html' %}
    </body>
    
</html>