<!DOCTYPE html>
<html>
    <head>
        <title>Hearts & Hands</title>

        {% include 'bootstrap.html' %}
        <style>
            #banner {
                height: 360px;
                width: 100%;
                object-fit: cover;
            }
        </style>
    </head>
    {% include 'nav.html' %}
    <body>
        <div id="container" class="text-center">
            <h1 class="text-center mt-4 mb-4">{{company_name}} Careers</h1>
            <img class="img-fluid" id="banner" src="https://plus.unsplash.com/premium_photo-1691735666273-0c059e1cdcc6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1752&q=80">
            <h2 class="text-center mt-2 mb-4">About Us</h2>
            <p class="lead">
                Lorem ipsum dolor sit amet. Aut cupiditate laborum quo eligendi accusamus sed minus itaque est praesentium repellendus rem ratione veritatis ut quaerat reiciendis? Ea quia quos sit animi delectus qui tenetur quibusdam. Ut repellat commodi in aliquam voluptates vel quia libero cum sunt quibusdam qui quibusdam sunt.

                Rem eligendi labore sed ratione sunt ut reprehenderit optio? Rem voluptas Quis qui maiores tempore et dolore aliquam hic dolor galisum? Est beatae voluptatibus eum repellat quam cum quisquam impedit hic veritatis tenetur est quia quis eum ipsum obcaecati aut earum minima! Vel internos autem non reprehenderit animi in quos dolorem sed iste tenetur ut galisum vero.

                At galisum itaque et laudantium internos aut officiis illo aut molestias expedita vel corporis dolorem et distinctio iusto? Vel molestiae doloribus ut modi nihil At neque nihil sit sapiente reiciendis.
            </p>

            <h2 class="text-center mt-2 mb-4">Job Openings</h2>
            <div> 

            </div>
            <div class="text-center">
            <button class="btn btn-primary btn-lrg">Contact Us</button>
            </div>
        </div>
        {% include 'footer.html' %}
    </body>
    
</html>