<!DOCTYPE html>
<html>
    <head>
        <title>Hearts & Hands</title>

        {% include 'bootstrap.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <style>
            #banner {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            .parallax {

                
                /* The image used */

                background-image: url("https://raw.githubusercontent.com/DarthNecro95/HeartsHands/main/static/images/HeartsHandsParallax.png");

                /* Set a specific height */
                min-height: 1124px;
                padding-top: 250px;

                /* Create the parallax scrolling effect */
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                }
        </style>
        
    </head>
    {% include 'nav.html' %}
    <body>
        <!-- <div id="container" class="text-center"> -->
            <!-- <h1 class="text-center mt-4 mb-4">Careers</h1> -->
            <!-- <img class="img-fluid" id="banner" src="https://raw.githubusercontent.com/DarthNecro95/HeartsHands/main/static/images/HeartsHandsBanner.jpg"> -->
        <div class="parallax"></div>
        <h2 class="text-center mt-2 mb-4">Hearts & Hands</h2>
        <p class="lead">
                We are dedicated to bringing warmth and care to every child in need!!


    <div class="slider">
        <!-- list Items -->
        <div class="list">
            <div class="item active">
                <img src="https://raw.githubusercontent.com/DarthNecro95/HeartsHands/main/static/images/Group_E.jpeg">
                <div class="content">
                    <p>design</p>
                    <h2>Slider 01</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, neque?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ex.
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="https://raw.githubusercontent.com/DarthNecro95/HeartsHands/main/static/images/Group_B.jpeg">
                <div class="content">
                    <p>design</p>
                    <h2>Slider 02</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, neque?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ex.
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="https://raw.githubusercontent.com/DarthNecro95/HeartsHands/main/static/images/Blankets_L.jpeg">
                <div class="content">
                    <p>design</p>
                    <h2>Slider 03</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, neque?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ex.
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="https://raw.githubusercontent.com/DarthNecro95/HeartsHands/main/static/images/Blankets_F.jpeg">
                <div class="content">
                    <p>design</p>
                    <h2>Slider 04</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, neque?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ex.
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="https://raw.githubusercontent.com/DarthNecro95/HeartsHands/main/static/images/Blankets_D.jpeg">
                <div class="content">
                    <p>design</p>
                    <h2>Slider 05</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, neque?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ex.
                    </p>
                </div>
            </div>
        </div>
        <!-- button arrows -->
        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <!-- thumbnail -->
        <div class="thumbnail">
            <div class="item active">
                <img src="https://raw.githubusercontent.com/DarthNecro95/HeartsHands/main/static/images/Group_E.jpeg">
                <div class="content">
                    Name Slider
                </div>
            </div>
            <div class="item">
                <img src="https://raw.githubusercontent.com/DarthNecro95/HeartsHands/main/static/images/Group_B.jpeg">
                <div class="content">
                    Name Slider
                </div>
            </div>
            <div class="item">
                <img src="https://raw.githubusercontent.com/DarthNecro95/HeartsHands/main/static/images/Blankets_L.jpeg">
                <div class="content">
                    Name Slider
                </div>
            </div>
            <div class="item">
                <img src="https://raw.githubusercontent.com/DarthNecro95/HeartsHands/main/static/images/Blankets_F.jpeg">
                <div class="content">
                    Name Slider
                </div>
            </div>
            <div class="item">
                <img src="https://raw.githubusercontent.com/DarthNecro95/HeartsHands/main/static/images/Blankets_D.jpeg">
                <div class="content">
                    Name Slider
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='javascript/slideshow.js') }}"></script>
            <div class="text-center">
            <button class="btn btn-primary btn-lrg">Contact Us</button>
            </div>
        </div>
       
        {% include 'footer.html' %}
    </body>
    
</html>