<!DOCTYPE html>
<html>
    <head>
        <title>Hearts & Hands</title>

        {% include 'bootstrap.html' %}
        <style>
            #banner {
                height: 360px;
                width: 100%;
                object-fit: cover;
            }
        </style>
    </head>
    {% include 'nav.html' %}
    <body>


            

            <div>
            <button class="btn btn-primary btn-lrg">Contact Us</button>
            </div>
        </div>


        {% include 'footer.html' %}
    </body>
    
</html>